name: CI

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  build:
    strategy:
      matrix:
        java: ['11', '17' ]
        # Kotlin needs access to java.util
        include:
          - java: '11'
            maven-opts: ''
          - java: '17'
            maven-opts: --add-opens java.base/java.util=ALL-UNNAMED
    runs-on: 'ubuntu-latest'
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK
      uses: actions/setup-java@v3
      with:
        java-version: ${{ matrix.java }}
        distribution: 'zulu'
        cache: 'maven'
    - name: print Java version
      run: java -version
    - name: Build
      env:
        MAVEN_OPTS: ${{ matrix.maven-opts }}
      run: mvn -B clean package biz.aQute.bnd:bnd-resolver-maven-plugin:resolve --file pom.xml
